@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Briem Hand", cursive;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: deeppink;
    text-align: center;
    padding: 5px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav ul{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
}

main{
    margin: 20px 60px ;
}

.wts{
    height: 5px;
    width: 5px;
}

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    
}

header{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231023/pngtree-vibrant-and-artistic-purple-and-pink-abstract-texture-image_13682442.png);
    padding: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    color: black;
    font-size: 3rem;
    margin-bottom: 20px;
}
header p{
    font-size: 1.2rem;
}

.item{
    width: 300px;
    height: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px pink;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.item .new-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 110px;
}
.item img{
    width: 200px;
    height: 200px;
}

.item button{
    border: none;
    background-color: pink;
    padding: 3px 10px;
    font-size: 1.5rem;
    margin: 10px;
}

.wts{
    position: fixed;
    right: 80px;
    bottom: 250px;
}

footer{
    background-color: deeppink;
    color: white;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    
}